//公用方法，求数组和
/**
 * 曹佳毓
 * @version v1.00
 * Modify-Date:2019-3-4 11:9:45
 */
var arrSum= {
    add_arr_sum: function sum(arr) {
        var s = 0;
        for (var i = arr.length - 1; i >= 0; i--) {
            s += arr[i];
        }
        return s;
    }
}

module.exports = {
    add_arr_sum: arrSum.add_arr_sum//暴露接口调用求数组总和
}
